<ion-item color="light" lines="none">
    <ion-label>{{ data.instant('Settings.AboutTitle') }}</ion-label>
    <ion-icon slot="end" name="close" (click)="close()" color="dark"></ion-icon>
</ion-item>
<ion-content padding style="background-color: white;">
    <div class="logoArea" text-center>
        <img class="logo" src="assets/icon/drawable-xxxhdpi-icon.png" (click)="test()">
        <p class="title">LiveStatus</p>
        <p class="version">{{ data.instant('Common.CurrentVersion') }} {{version}}</p>
    </div>
<!--
    <ion-item class="borderItem" (click)="buymebeer()">
        <ion-icon class="menuIcon" slot="start" name="beer" color="dark" size="medium"></ion-icon>
        <ion-label>{{ data.instant('Common.BuyBeer') }}</ion-label>
        <ion-icon name="ios-arrow-forward" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="borderBottom" (click)="data.like()">
        <ion-icon class="menuIcon" slot="start" name="heart" color="dark" size="medium"></ion-icon>
        <ion-label>{{ data.instant('Menu.Like') }}</ion-label>
        <ion-icon name="ios-arrow-forward" slot="end" size="small"></ion-icon>
    </ion-item>
-->
<!--
    <ion-item lines="none" class="borderBottom borderItem" (click)="upgrade()">
        <ion-label>{{ data.instant('About.CheckUpgrade') }}</ion-label>
        <ion-icon name="ios-arrow-forward" slot="end" size="small"></ion-icon>
    </ion-item>
-->

    <div class="conductArea" text-center>
        <p class="copyright">
            livestatus.reddah.com<br>
        </p>
    </div>
</ion-content>
