<ion-tabs class="tab-top-m">
    <div class="tab-top-margin" *ngIf="showText"></div>
    <ion-tab-bar slot="bottom" style="padding:0 15%;" color="dark">
      <ion-tab-button (click)="refresh()">
        <ion-icon name="sync" class="tab-icon"></ion-icon>
        <ion-label *ngIf="showText" class="tab-text">Refresh</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="settings()">
        <ion-icon name="settings" class="tab-icon"></ion-icon>
        <ion-label *ngIf="showText" class="tab-text">Settings</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="search()">
        <ion-icon name="search" class="tab-icon"></ion-icon>
        <ion-label *ngIf="showText" class="tab-text">Search</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="like()">
        <ion-icon name="heart" class="tab-icon"></ion-icon>
        <ion-label *ngIf="showText" class="tab-text">Like</ion-label>
      </ion-tab-button>

      <div (click)="toggleText()" class="tab-option-button">
        <ion-icon name="ios-more" style="width:25px;height:25px;"></ion-icon>
      </div>
    </ion-tab-bar>

</ion-tabs>
