.parallax-bg {
    position: absolute;
    left: -50%;
    top: 0;
    width: 500%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

ion-slides {
    height: auto;
}

.overall-service-list{
    width: 100%;
    background-color:transparent;
}

.service-list{
    width: 100%;
    margin-bottom: auto;
    background-color:transparent;
}

.service-title {
    margin-left: 20px;
    margin-right:0;
    width: 100%;
}

.notify-box-green {
    background-color:#107c10;
    padding:1px 15px 15px 15px;
    margin-top:15px;
    border-radius: 1px;
}

.notify-box-light {
    background-color: transparent;
    padding:1px 15px 15px 0px;
    margin-top:15px;
    border-radius: 1px;
}

h1, h2, h3, h4, h5 {
    color: white;
}

.incident-box{
    --background: transparent;
    margin-bottom: 15px;
}

.incident-icon-container{
    background-color: transparent;
    border-radius: 0px;
}

.incident-icon {
    border-radius: 0px;
    min-width: 40px;
    min-height: 40px;
    margin-top: 8px;
}




app-service-box{
    margin-bottom: auto;
    width: 100%;
}