<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide>
          <ion-card class="welcome-card">
            <ion-card-header>
              <ion-card-subtitle>Overall Status</ion-card-subtitle>
              <ion-card-title>Welcome to Ionic</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-icon slot="start" color="medium" name="checkmark-circle-outline" *ngIf="coreStatus==1"></ion-icon>
              <p>{{coreTimestamp}}</p>
              <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
            </ion-card-content>
          </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>Core Services</ion-label>
            </ion-list-header>
            <ng-template ngFor let-coreService [ngForOf]="coreServices">
              <ion-item href="https://ionicframework.com/docs/">
                <ion-icon slot="start" color="medium" name="checkmark-circle-outline" *ngIf="coreService.Status==1"></ion-icon>
                <ion-label>{{coreService.Category}}</ion-label>
              </ion-item>
            </ng-template>
          </ion-list>
      </ion-slide>
      <ion-slide>
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>Xbox One Services</ion-label>
            </ion-list-header>
            <ng-template ngFor let-xboxOneService [ngForOf]="xboxOneServices">
              <ion-item>
                <ion-icon slot="start" color="medium" name="checkmark-circle-outline" *ngIf="xboxOneService.Status==1"></ion-icon>
                <ion-label>{{subText(xboxOneService.Application,50)}}</ion-label>
              </ion-item>
            </ng-template>
          </ion-list>
      </ion-slide>
      <ion-slide>
          <ion-list lines="none">
            <ion-list-header>
              <ion-label>Xbox 360 Services</ion-label>
            </ion-list-header>
            <ng-template ngFor let-xbox360Service [ngForOf]="xbox360Services">
              <ion-item>
                <ion-icon slot="start" color="medium" name="checkmark-circle-outline" *ngIf="xbox360Service.Status==1"></ion-icon>
                <ion-label>{{subText(xbox360Service.Application,50)}}</ion-label>
              </ion-item>
            </ng-template>
          </ion-list>
      </ion-slide>
    </ion-slides>
  
</ion-content>
