
<div class="parallax-bg" style="background-image:url(assets/icon/PanoramaBackground.png)"></div>
<ion-item style="--background:transparent;" lines="none">
    <h1 style="color:white;">{{ data.instant('Settings.Title') }}</h1>
    <ion-icon slot="end" name="close" (click)="close()" color="light"></ion-icon>
</ion-item>
<ion-content color="transparent" (click)="data.hideTabText()">
    <ion-list style="width: 100%;background-color:transparent;margin-bottom:auto;">
        <ion-list style="background-color:transparent;">
          <ion-list-header>
              <ion-label color="light">{{ data.instant('Settings.FontSizeTitle') }}</ion-label>
          </ion-list-header>
          <ion-item lines="none" style="--background:transparent;">
              <ion-range no-padding min="1" max="10" step="1" [(ngModel)]="data.settings.fontSize" snaps="true" tick="true"
                  color="light" (ionChange)="changeFontSize()">
                  <ion-text slot="start" color="light" style="font-size:16px;" margin-end>A</ion-text>
                  <ion-text slot="end" color="light" style="font-size:34px;" margin-start>A</ion-text>
              </ion-range>
          </ion-item>
        </ion-list>
        <ion-list style="background-color:transparent;" (click)="changeLocale()">
          <ion-list-header>
              <ion-label color="light">{{ data.instant('Settings.LanguageTitle') }}</ion-label>
          </ion-list-header>
          <ion-item lines="none" style="--background:transparent;">
              <ion-icon slot="start" name="globe" color="light" size="large"></ion-icon>
              <ion-text color="light">{{currentLocaleInfo}}</ion-text>
              <ion-icon name="ios-arrow-forward" slot="end" size="small" color="light"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list style="background-color:transparent;">
          <ion-list-header>
              <ion-label color="light">{{ data.instant('Settings.NotifyTitle') }}</ion-label>
          </ion-list-header>
          <ion-item lines="none" style="--background:transparent;">
              <ion-label color="light">{{(data.settings.showNotify?'Common.On':'Common.Off') | translate}}</ion-label>
              <ion-toggle [(ngModel)]="data.settings.showNotify" color="success" slot="end" (ionChange)="changeNotify()"></ion-toggle>
          </ion-item>
        </ion-list>
        <ion-list style="background-color:transparent;" (click)="clearCache()">
          <ion-item lines="none" style="--background:transparent;">
              <ion-icon slot="start" name="trash" color="light" size="large"></ion-icon>
              <ion-label color="light">{{ data.instant('Settings.CacheTitle') }}</ion-label>
              <ion-icon name="ios-arrow-forward" color="light" slot="end" size="small"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list style="background-color:transparent;" (click)="about()">
          <ion-item lines="none" style="--background:transparent;">
              <ion-icon class="menuIcon" slot="start" name="information-circle-outline" color="light" size="large"></ion-icon>
              <ion-label color="light">{{ data.instant('Settings.AboutTitle') }}</ion-label>
              <ion-icon name="ios-arrow-forward" color="light" slot="end" size="small"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-item lines="none" style="--background:transparent;">
        </ion-item>
    </ion-list>
</ion-content>
